@charset "UTF-8";
.cabecera .cont1, .cabecera .cont1 .buscar .label, .cabecera .cont1 .buscar .imagen, .contenido, .contenido #promocion .cont1, .contenido #promocion .cont2, .cabecera, .cabecera .cont1 .buscar, .contenido #promocion, .menu_principal, .menu_principal #navbarNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabecera .cont1, .cabecera .cont1 .buscar .label, .cabecera .cont1 .buscar .imagen, .contenido, .contenido #promocion .cont1, .contenido #promocion .cont2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "bahn";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mont-medium";
  src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
  font-family: "mont-reg";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "mont-semibold";
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "segoe";
  src: url("../fonts/segoe-ui-light-2.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("../fonts/Bebas.otf") format("truetype");
}

@font-face {
  font-family: "bebasnue";
  src: url("../fonts/BebasNeue-Regular.otf") format("truetype");
}

@font-face {
  font-family: "myriad";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
}

.header {
  /* padding: 1rem 1rem; */
  width: 100%;
  z-index: 9;
  background-color: #f2f2f2;
}

.boton-shadow {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /*Sombra leve*/
  border-radius: 2px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}

.boton-shadow:hover, .boton-shadow:active {
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.cabecera {
  width: 100%;
  background-color: #074084;
  padding: 2rem 0;
}

.cabecera .logo {
  width: 10% !important;
}

.cabecera .logo img {
  width: 100%;
}

.cabecera .cont1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 2rem;
  width: 60%;
}

.cabecera .cont1 .cuenta {
  background-color: #fb1112;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin-left: 2rem;
}

.cabecera .cont1 .cuenta img {
  height: 2rem;
  max-width: none;
}

.cabecera .cont1 .social {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}

.cabecera .cont1 .social img {
  height: 3rem;
  max-width: none;
}

.cabecera .cont1 .buscar {
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.cabecera .cont1 .buscar .label {
  background-color: #fb1112;
  height: 3rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 1rem;
  text-transform: uppercase;
  color: white;
  font-family: "mont-semibold";
}

.cabecera .cont1 .buscar form {
  margin-bottom: 0;
  width: 60%;
}

.cabecera .cont1 .buscar input {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: white;
}

.cabecera .cont1 .buscar .imagen {
  height: 3rem;
  border-radius: 25px;
  background-color: #fb1112;
  padding: 0 1rem;
  margin-left: -1.5rem;
}

.cabecera .cont1 .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}




#sobre{
  background-image: url('../images/about.png') !important;
  background-size: 100% 100%;
  min-height: 55rem !important;
}

#misionvision{
  background-image: url('../images/mision-vision2.png') !important;
  background-size: 100% 100%;
  min-height: 55rem !important;
}

#valores{
  background-image: url('../images/valores3.png') !important;
  background-size: 100% 100%;
  min-height: 60rem !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


#contas{
  background-image: url('../images/footerpharma.png') !important;
  background-size: 100% 100%;
  min-height: 13rem !important;
}


.content-area, .widget-area {
  margin-bottom: 0;
}

.site-main {
  margin-bottom: 0;
}

.sobres{
  padding-top: 5% !important;
}


.sobres h1{
  font-family: "bebasnue";
  font-size: 8rem !important;
  color: white;
  padding-left: 6% !important;
}


.sobres p {
  width: 41% !important;
  padding-left: 7% !important;
  font-size: 2rem !important;
  padding-top: 1% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}




#conta .cont1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 2rem;
  width: 60%;
  display: flex;
}


#conta .cont1 .buscar {
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#conta .cont1 .buscar .label {
  background-color: #fb1112;
  height: 3rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 1rem;
  text-transform: uppercase;
  color: white;
  font-family: "mont-semibold";
}

#conta .cont1 .buscar form {
  margin-bottom: 0;
  width: 30%;
  border-style: round;
}

#conta .cont1 .buscar input {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: white;
}

#conta .cont1 .buscar .imagen {
  height: 3rem;
  width: 7rem !important;
  border-radius: 25px;
  background-color: #fb1112;
  padding: 0 1rem;
  margin-left: -1.5rem;
  position: absolute;
  top: 32px;
  left: 22rem;
}


.round {

  background-color: #fff;
  width: auto;
  height: auto;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
 
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius:60px;
  behavior: url(border-radius.htc);
 
     }

#conta .cont1 .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}


#conta .cont1 .buscar .imagen2 {
  height: 3rem;
  width: 7rem !important;
  border-radius: 25px;
  background-color: white;
  padding: 0 1rem;
  margin-left: -1.5rem;
  position: absolute;
  top: 32px;
  left: -2rem;
}

#conta .cont1 .buscar .imagen2 img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}









.contenido {
  width: 100%;
}

.contenido #inicio img {
  width: 100%;
}

.contenido #promocion {
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.contenido #promocion .boton-shadow {
  background-color: #fb1112;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.contenido #promocion .boton-shadow:hover {
  background-color: black;
}

.contenido #promocion .cont1 {
  width: 50%;
  background-image: url("../images/más novedoso2.png");
  background-size: cover;
  background-position: top right;
  height: 32rem;
  margin: 1rem;
  padding-top: 10rem;
  position: relative;
}

.contenido #promocion .cont1 .novedoso, .contenido #promocion .cont1 .logo {
  position: absolute;
  width: 30%;
  top: 2rem;
}

.contenido #promocion .cont1 .novedoso {
  left: 2rem;
}

.contenido #promocion .cont1 .logo {
  right: 2rem;
}

.contenido #promocion .cont1 .bx-wrapper {
  background-color: transparent !important;
}

.contenido #promocion .cont1 .bx-wrapper .bx-viewport {
  background-color: transparent !important;
}

.contenido #promocion .cont1 .psfw-main-product-wrapper.psfw-grid-template-9 .psfw-content-inner-wrap, .contenido #promocion .cont1 .psfw-main-product-wrapper.psfw-car-template-3 .psfw-content-inner-wrap, .contenido #promocion .cont1 .psfw-main-product-wrapper.psfw-frame-template-2 .psfw-content-inner-wrap {
  background: transparent;
  background-color: transparent;
  color: white;
}

.contenido #promocion .cont1 .psfw-title {
  text-transform: uppercase;
  font-family: "mont-bold";
}

.contenido #promocion .cont1 .psfw-content {
  font-size: 0.7rem;
  font-family: "mont-reg";
}

.contenido #promocion .cont1 .boton-shadow {
  font-family: "mont-reg";
  font-size: 1rem;
}

.contenido #promocion .cont2 {
  width: 40%;
  background-image: url("../images/como comprar-min.png");
  background-size: cover;
  background-position: bottom right;
  height: 32rem;
  margin: 1rem;
  position: relative;
}

.contenido #promocion .cont2 .boton-shadow {
  font-family: "mont-semibold";
  font-size: 1.2rem;
  position: absolute;
  bottom: 35%;
  right: 15%;
}

.menu_principal {
  margin-top: 1rem;
}

.menu_principal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.menu_principal ul li {
  text-decoration: none;
  list-style: none;
  padding: 1rem 1rem;
  text-transform: uppercase;
  background-image: url('../images/exportadas-01.png') !important;
  background-size: 100% 100%;
}

.menu_principal ul li a {
  color: black;
  font-family: "mont-bold";
}

.menu_principal ul li:hover a {
  font-weight: bolder;
}

#masthead {
  /* background-color: white; */
}

.page-template-template-homepage #page .storefront-breadcrumb {
  display: none !important;
}

.page-template-template-homepage #page .menu_principal {
  margin-bottom: 0;
}

.page-template-template-homepage #page main {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-template-template-homepage #page main #post-5 {
  display: none;
}

.page-template-template-homepage #content .col-full {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.page-template-template-homepage .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 2rem 1rem;
  text-align: left;
  min-width: 100%;
  line-height: 100%;
  padding-left: 2rem;
}

.page-template-template-homepage #promocion img {
  width: 100%;
}

.page-template-template-homepage #destacados,
.page-template-template-homepage #promociones,
.page-template-template-homepage #nuevo {
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-template-template-homepage #destacados .title,
.page-template-template-homepage #promociones .title,
.page-template-template-homepage #nuevo .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-template-template-homepage #destacados .title h4,
.page-template-template-homepage #promociones .title h4,
.page-template-template-homepage #nuevo .title h4 {
  background-color: #fb1112;
  width: 15rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 0.3rem 0;
  line-height: 100%;
  font-family: "mont-semibold";
  z-index: 11;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-template-template-homepage #destacados .title hr,
.page-template-template-homepage #promociones .title hr,
.page-template-template-homepage #nuevo .title hr {
  position: absolute;
  width: 30rem;
  border: 2px solid #fb1112;
  left: 4rem;
  top: 0.4rem;
}

.page-template-template-homepage #destacados .psfw-inner-wrap,
.page-template-template-homepage #promociones .psfw-inner-wrap,
.page-template-template-homepage #nuevo .psfw-inner-wrap {
  position: relative;
}

.page-template-template-homepage #destacados .psfw-inner-wrap:hover .psfw-details-wrap,
.page-template-template-homepage #promociones .psfw-inner-wrap:hover .psfw-details-wrap,
.page-template-template-homepage #nuevo .psfw-inner-wrap:hover .psfw-details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-template-template-homepage #destacados .psfw-details-wrap,
.page-template-template-homepage #promociones .psfw-details-wrap,
.page-template-template-homepage #nuevo .psfw-details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: none;
  background-color: rgba(0, 0, 0, 0.562);
  padding: 2rem;
  color: white;
}

.page-template-template-homepage #destacados .psfw-details-wrap .psfw-price,
.page-template-template-homepage #promociones .psfw-details-wrap .psfw-price,
.page-template-template-homepage #nuevo .psfw-details-wrap .psfw-price {
  margin-bottom: 0.5rem;
}

.page-template-template-homepage #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  margin-top: 2rem;
  padding: 1rem 0;
  position: relative;
}

.page-template-template-homepage #info hr {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  border: 2px solid #fb1112;
  z-index: 99;
  width: 25rem;
}

.page-template-template-homepage #info .elemento {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.page-template-template-homepage #info .elemento img {
  height: 5rem;
  width: auto;
}

.page-template-template-homepage #info .elemento h4 {
  text-align: center;
  margin-top: 1rem;
  font-family: "mont-bold";
  font-size: 1rem;
}

.page-template-template-homepage #info .elemento p {
  text-align: center;
  margin-top: 1rem;
  font-family: "mont-reg";
  font-size: 0.8rem;
}

.page-template-template-homepage #suscribete {
  background-image: url("../images/sus.png");
  background-size: cover;
  width: 100%;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-template-template-homepage #suscribete .titulo {
  min-width: auto;
  color: #00006a;
  font-family: "mont-bold";
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
}

.page-template-template-homepage #suscribete p {
  color: white;
  font-family: "mont-medium";
  font-size: 1.2rem;
  text-align: center;
}

.ver_todo {
  width: auto;
  background-color: #fb1112;
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  text-decoration: none;
}

.ver_todo:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

#conta{
  background-image: url('../images/fkuro.png') !important;
  background-size: 100% 100%;
  min-height: 40rem !important;
}


.title__section3 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 13% !important;
  top: 1rem !important;
}

.title__section3 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section3 img {
  width: 23% !important;
  height: 100%;
}

.centrado3 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 20% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.3rem !important;
  transform: translate(-50%, -50%);
}







.title__section4 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 68% !important;
  top: -2rem !important;
}

.title__section4 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section4 img {
  width: 23% !important;
  height: 100%;
}



.centrado4 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 22% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}






.title__section5 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 3% !important;
  top: 3rem !important;
}

.title__section5 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section5 img {
  width: 12% !important;
  height: 100%;
}

.centrado5{
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2.5rem !important;
  transform: translate(-50%, -50%);
}







.title__section6 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 3% !important;
  top: 5rem !important;
}

.title__section6 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section6 img {
  width: 12% !important;
  height: 100%;
}

.centrado6{
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2.3rem !important;
  transform: translate(-50%, -50%);
}






.title__section7 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 3% !important;
  top: 7rem !important;
}

.title__section7 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section7 img {
  width: 12% !important;
  height: 100%;
}

.centrado7{
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2.3rem !important;
  transform: translate(-50%, -50%);
}





.title__section8 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 25% !important;
  top: 4rem !important;
}

.title__section8 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section8 img {
  width: 12% !important;
  height: 100%;
}

.centrado8{
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.8rem !important;
  transform: translate(-50%, -50%);
}








.title__section9 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 25% !important;
  top: 5rem !important;
}

.title__section9 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section9 img {
  width: 12% !important;
  height: 100%;
}

.centrado9{
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.8rem !important;
  transform: translate(-50%, -50%);
}



/*CENTRADO 10*/

.title__section10 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 1% !important;
  top: 4rem !important;
}

.title__section10 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section10 img {
  width: 100% !important;
  height: 100%;
}

.centrado10{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}


/*CENTRADO 11*/

.title__section11 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 1% !important;
  top: 4rem !important;
  display: none !important;
}

.title__section11 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section11 img {
  width: 100% !important;
  height: 100%;
}

.centrado11{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 12*/

.title__section12 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 20% !important;
  top: 9rem !important;
}

.title__section12 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section12 img {
  width: 15% !important;
  height: 100%;
}

.centrado12{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 13*/

.title__section13 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 68% !important;
  top: 13rem !important;
}

.title__section13 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section13 img {
  width: 15% !important;
  height: 100%;
}

.centrado13{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 14*/

.title__section14 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 82% !important;
  top: -25rem !important;
}

.title__section14 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section14 img {
  width: 12% !important;
  height: 100%;
}

.centrado14{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 15*/

.title__section15 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 23% !important;
  top: -11rem !important;
}

.title__section15 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section15 img {
  width: 12% !important;
  height: 100%;
}

.centrado15{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 16*/

.title__section16 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 52% !important;
  top: -28rem !important;
}

.title__section16 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section16 img {
  width: 12% !important;
  height: 100%;
}

.centrado16{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

/*CENTRADO 17*/

.title__section17 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 52% !important;
  top: -28rem !important;
}

.title__section17 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section17 img {
  width: 12% !important;
  height: 100%;
}

.centrado17{
  position: absolute;
  top: 58% !important;
  left: 20.3% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}












.site-footer a:not(.button) {
  color: white; 
}
.site-footer a:not(.button) {
   color: white; 
}



#contacto {
  width: 100%;
  background-color: white;
  font-family: "mont-reg";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  font-family: "bahn";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
}

#contacto .titulo img {
  position: absolute;
  right: 4rem;
  top: -2rem;
  width: 5rem;
}

#contacto .contacto-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#contacto .contacto-info p {
  width: 40%;
  margin: 0 5%;
}

#contacto .contacto-info .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5%;
}

#contacto .contacto-info .elemento img {
  width: 3rem;
  margin-right: 1rem;
}

.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
a.cart-contents:hover,
.site-header-cart .widget_shopping_cart a:hover,
.site-header-cart:hover > li > a,
.site-header ul.menu li.current-menu-item > a,
.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
  font-weight: bold;
}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
  /* color:white; */
}

.main-navigation ul.menu > li > a,
.main-navigation ul.nav-menu > li > a {
  padding: 0.5rem;
}

.site-header[role="banner"] {
  /* padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 2.5rem !important; */
  padding: 0rem;
}

.custom-logo {
  /* display: none !important; */
  margin: 1rem;
}

.storefront-primary-navigation {
  display: none;
}

.main-navigation ul.menu,
.main-navigation ul.nav-menu {
  /* display: flex; */
  /* flex-direction: row; */
}

.site-header[role="banner"] > .col-full {
  display: none !important;
}

.woocommerce-active .site-header .main-navigation {
  width: 100%;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: black;
}

footer .col-full {
  max-width: inherit;
  padding: 0rem;
  width: 100%;
  margin: 0rem;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
}



#div.col-full {
  margin: 0;
  padding: 0;
}



body {
  /* font-family: Arial; */
  font-family: "mont-reg";
}

/* para el header */
.site-search {
  margin: 1rem;
  min-width: 11rem;
}

.site-header-cart {
  min-width: 11rem;
}

.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
  height: 6rem;
  width: auto;
  margin-right: 2rem;
}

#site-navigation {
  margin-top: -4rem;
}

.main-navigation ul.menu > li > a,
.main-navigation ul.nav-menu > li > a {
  text-transform: uppercase;
  padding-top: 2rem;
  font-family: "mont-reg";
  font-weight: bolder;
}

.main-navigation ul.menu > li > a:hover,
.main-navigation ul.nav-menu > li > a:hover,
.main-navigation ul.menu > li > a:active,
.main-navigation ul.nav-menu > li > a:active {
  background-color: #444444;
  color: white;
}

.storefront-primary-navigation .ayuda {
  background-color: #444444;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0 2rem;
}

.storefront-primary-navigation .site-header-cart {
  display: none;
}

.storefront-primary-navigation .site-search {
  background-color: #444444;
  margin: 0;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

.storefront-primary-navigation .site-search form {
  margin-bottom: 0rem !important;
}

/* menu responsive */
.storefront-hamburger-menu-active .main-navigation .handheld-navigation,
.storefront-hamburger-menu-active .main-navigation div.menu {
  overflow-y: hidden;
}

#masthead {
  display: none;
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.e-center {
  margin-left: auto;
  margin-right: auto;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.storefront-product-section {
  display: none;
}

footer {
  font-family: "mont-reg";
}

@media (max-width: 1750px) {
  .sobres p {
    width: 41% !important;
    padding-left: 7% !important;
    font-size: 1.9rem !important;
    padding-top: 1% !important;
    text-align: justify;
    font-family: "myriad";
    color: white;
}
}

@media (max-width: 1700px) {
  .title__section13 {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    left: 68% !important;
    top: 15rem !important;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 13% !important;
  top: 5rem !important;
}
}

@media (max-width: 1600px) {
  .title__section12 img {
    width: 17% !important;
    height: 100%;
}

.title__section12 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 20% !important;
  top: 8rem !important;
}


.title__section4 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: -3rem !important;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 13% !important;
  top: 2rem !important;
}

.title__section13 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: 12rem !important;
}
  #sobre {
    background-image: url(../images/about.png) !important;
    background-size: 100% 100%;
    min-height: 53rem !important;
}
.sobres h1 {
  font-family: "bebasnue";
  font-size: 7rem !important;
  color: white;
  padding-left: 6% !important;
}

.sobres p {
  width: 41% !important;
  padding-left: 7% !important;
  font-size: 1.7rem !important;
  padding-top: 3% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}

#misionvision {
  background-image: url(../images/mision-vision2.png) !important;
  background-size: 100% 100%;
  min-height: 50rem !important;
}

.centrado4 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 22% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.3rem !important;
  transform: translate(-50%, -50%);
}

.centrado3 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 20% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}

#valores {
  min-height: 55rem !important;
}

#contas {
  min-height: 12rem !important;
}

.title__section5 {
  left: 3% !important;
  top: 2rem !important;
}

.title__section6 {
  left: 3% !important;
  top: 4rem !important;
}

.title__section7 {
  left: 3% !important;
  top: 6rem !important;
}

}

@media (max-width: 1500px) {

.title__section10 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: -0.5% !important;
  top: 4rem !important;
}

}


@media (max-width: 1450px) {
  #sobre {
    background-image: url(../images/about.png) !important;
    background-size: 100% 100%;
    min-height: 49rem !important;
}
.sobres h1 {
  font-family: "bebasnue";
  font-size: 6rem !important;
  color: white;
  padding-left: 7% !important;
}
.sobres p {
  width: 41% !important;
  padding-left: 7% !important;
  font-size: 1.6rem !important;
  padding-top: 3% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}
#misionvision {
  background-image: url(../images/mision-vision2.png) !important;
  background-size: 100% 100%;
  min-height: 45rem !important;
}
#valores {
  min-height: 50rem !important;
}

#contas {
  min-height: 11rem !important;
}

.title__section5 {
  left: 3% !important;
  top: 2rem !important;
}

.centrado5 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2rem !important;
  transform: translate(-50%, -50%);
}

.title__section6 {
  left: 3% !important;
  top: 3.5rem !important;
}

.centrado6 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2rem !important;
  transform: translate(-50%, -50%);
}

.title__section7 {
  left: 3% !important;
  top: 5rem !important;
}

.centrado7 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 2rem !important;
  transform: translate(-50%, -50%);
}
}

@media (max-width: 1350px) {
  #sobre {
    background-image: url(../images/about.png) !important;
    background-size: 100% 100%;
    min-height: 43rem !important;
}

.sobres h1 {
  font-family: "bebasnue";
  font-size: 4.5rem !important;
  color: white;
  padding-left: 11% !important;
}

.sobres p {
  width: 41% !important;
  padding-left: 7% !important;
  font-size: 1.4rem !important;
  padding-top: 4% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}

.centrado3 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 20% !important;
  color: white;
  font-family: "myriad";
  font-size: 1rem !important;
  transform: translate(-50%, -50%);
}

.centrado4 {
  position: absolute;
  top: 51% !important;
  left: 11.5% !important;
  width: 22% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.1rem !important;
  transform: translate(-50%, -50%);
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 13% !important;
  top: 4rem !important;
}
}



@media (max-width: 1250px) {

.title__section4 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: -1rem !important;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 13% !important;
  top: 6rem !important;
}

.title__section13 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: 14rem !important;
}

}


@media (max-width: 1200px) {
  .sobres {
    padding-top: 3% !important;
}

#sobre {
  background-image: url(../images/about.png) !important;
  background-size: 100% 100%;
  min-height: 37rem !important;
}
.sobres h1 {
  font-family: "bebasnue";
  font-size: 3.5rem !important;
  color: white;
  padding-left: 11% !important;
}

.sobres p {
  width: 41% !important;
  padding-left: 7% !important;
  font-size: 1.2rem !important;
  padding-top: 3% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}

#misionvision {
  background-image: url(../images/mision-vision2.png) !important;
  background-size: 100% 100%;
  min-height: 40rem !important;
}

#valores {
  min-height: 45rem !important;
}
#contas {
  min-height: 9rem !important;
}
.title__section5 {
  left: 3% !important;
  top: 1rem !important;
}
.title__section6 {
  left: 3% !important;
  top: 2rem !important;
}
.title__section7 {
  left: 3% !important;
  top: 3rem !important;
}
.centrado5 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.7rem !important;
  transform: translate(-50%, -50%);
}
.centrado6 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.7rem !important;
  transform: translate(-50%, -50%);
}
.centrado7 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.7rem !important;
  transform: translate(-50%, -50%);
}
.centrado3 {
  position: absolute;
  top: 51% !important;
  left: 14.5% !important;
  width: 28% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}

.title__section3 img {
  width: 30% !important;
  height: 100%;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 10% !important;
  top: -1rem !important;
}

.title__section4 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 63% !important;
  top: -3rem !important;
}

.title__section12 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 20% !important;
  top: 7rem !important;
}

.title__section13 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: 8rem !important;
}

.title__section4 img {
  width: 30% !important;
  height: 100%;
}

.centrado4 {
  position: absolute;
  top: 51% !important;
  left: 14.5% !important;
  width: 22% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}
}

@media (max-width: 1100px) {
.title__section13 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: 10rem !important;
}
.title__section12 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 20% !important;
  top: 7rem !important;
}
.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 10% !important;
  top: 2rem !important;
}
}



@media (max-width: 1050px) {

  .title__section13 {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    left: 68% !important;
    top: 8rem !important;
}
  #sobre {
    background-image: url(../images/about.png) !important;
    background-size: 100% 100%;
    min-height: 34rem !important;
}
#misionvision {
  background-image: url(../images/mision-vision2.png) !important;
  background-size: 100% 100%;
  min-height: 37rem !important;
}

#valores {
  min-height: 40rem !important;
}
.centrado3 {
  position: absolute;
  top: 51% !important;
  left: 14.5% !important;
  width: 28% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.1rem !important;
  transform: translate(-50%, -50%);
}
.centrado4 {
  position: absolute;
  top: 51% !important;
  left: 14.5% !important;
  width: 22% !important;
  color: white;
  font-family: "myriad";
  font-size: 1.1rem !important;
  transform: translate(-50%, -50%);
}
}

@media (max-width: 768px) {

  .title__section12 {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    left: 20% !important;
    top: 4rem !important;
}

  .title__section10 {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    left: -0.5% !important;
    top: 2rem !important;
}

  .cabecera .logo {
    width: 21% !important;
}
#sobre {
  background-image: url(../images/about.png) !important;
  background-size: 100% 100%;
  min-height: 24rem !important;
}

.sobres h1 {
  font-family: "bebasnue";
  font-size: 3rem !important;
  color: white;
  padding-left: 9% !important;
}

.sobres p {
  width: 44% !important;
  padding-left: 5% !important;
  font-size: 1rem !important;
  padding-top: 0% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}

#misionvision {
  background-image: url(../images/mision-vision2.png) !important;
  background-size: 100% 100%;
  min-height: 25rem !important;
}

#valores {
  min-height: 28rem !important;
}

#contas {
  min-height: 6rem !important;
}

.title__section6 {
  left: 3% !important;
  top: 0.8rem !important;
}

.title__section5 {
  left: 3% !important;
  top: 0.5rem !important;
}

.title__section7 {
  left: 3% !important;
  top: 1rem !important;
}

.centrado5 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}

.centrado6 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}

.centrado7 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1.2rem !important;
  transform: translate(-50%, -50%);
}

.centrado4 {
  position: absolute;
  top: 52% !important;
  left: 14.5% !important;
  width: 28% !important;
  color: white;
  font-family: "myriad";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}

.title__section4 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 63% !important;
  top: -2.5rem !important;
}

.centrado3 {
  position: absolute;
  top: 53% !important;
  left: 15% !important;
  width: 28% !important;
  color: white;
  font-family: "myriad";
  font-size: 0.8rem !important;
  transform: translate(-50%, -50%);
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 10% !important;
  top: -1rem !important;
}
.title__section13 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 68% !important;
  top: 4.5rem !important;
}
}


@media (max-width: 414px) {

  .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    min-width: 53rem;
}

  .title__section12 {
    display: none !important;
  }

  .title__section13 {
    display: none !important;
  }
  #sobre {
    background-image: url(../images/quienes.png) !important;
    background-size: 100% 100%;
    min-height: 24rem !important;
}

.title__section10 {
  display: none !important;
}

.title__section11 {
  display: contents !important;
}

.sobres p {
  width: 94% !important;
  padding-left: 5% !important;
  font-size: 1rem !important;
  padding-top: 4% !important;
  text-align: justify;
  font-family: "myriad";
  color: white;
}

.sobres h1 {
  font-family: "bebasnue";
  font-size: 3rem !important;
  color: white;
  padding-left: 21% !important;
}

#valores {
  background-image: url(../images/nombres.png) !important;
  background-size: 100% 100%;
  min-height: 25rem !important;
}

.storefront-handheld-footer-bar {
  display: none !important;
}

#contas {
  background-image: url(../images/footerpharmares.png) !important;
  background-size: 100% 100%;
  min-height: 7rem !important;
}

.title__section5 {
  left: 16% !important;
  top: 1rem !important;
}

.title__section6 {
  left: 16% !important;
  top: 1.3rem !important;
}

.title__section7 {
  left: 16% !important;
  top: 1.5rem !important;
}


#misionvision {
  background-image: url(../images/mision-visionres.png) !important;
  background-size: 100% 100%;
  min-height: 30rem !important;
}

.centrado4 {
  position: absolute;
  top: 52% !important;
  left: 32% !important;
  width: 62% !important;
  color: white;
  font-family: "myriad";
  font-size: 1rem !important;
  transform: translate(-50%, -50%);
}

.title__section4 img {
  width: 65% !important;
  height: 100%;
}

.title__section4 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 18% !important;
  top: 4.5rem !important;
}



.centrado3 {
  position: absolute;
  top: 55% !important;
  left: 29% !important;
  width: 54% !important;
  color: white;
  font-family: "myriad";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}


.title__section3 img {
  width: 60% !important;
  height: 100%;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 22% !important;
  top: 11rem !important;
}

.centrado7 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1rem !important;
  transform: translate(-50%, -50%);
}


.centrado6 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1rem !important;
  transform: translate(-50%, -50%);
}

.centrado5 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 1rem !important;
  transform: translate(-50%, -50%);
}


}


@media (max-width: 375px) {
.sobres h1 {
  font-family: "bebasnue";
  font-size: 3rem !important;
  color: white;
  padding-left: 19% !important;
}

.centrado3 {
  position: absolute;
  top: 56% !important;
  left: 30% !important;
  width: 57% !important;
  color: white;
  font-family: "myriad";
  font-size: 0.85rem !important;
  transform: translate(-50%, -50%);
}

.title__section3 img {
  width: 60% !important;
  height: 100%;
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 22% !important;
  top: 12rem !important;
}

#valores {
  background-image: url(../images/nombres.png) !important;
  background-size: 100% 100%;
  min-height: 23rem !important;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  min-width: 50rem;
}

#contas {
  background-image: url(../images/footerpharmares.png) !important;
  background-size: 100% 100%;
  min-height: 6rem !important;
}

.title__section5 {
  left: 16% !important;
  top: 0.5rem !important;
}

.centrado5 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}


.title__section6 {
  left: 16% !important;
  top: 0.8rem !important;
}


.centrado6 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}


.title__section7 {
  left: 16% !important;
  top: 1rem !important;
}


.centrado7 {
  position: absolute;
  top: 51% !important;
  left: 8% !important;
  color: #08227f;
  font-family: "bebasnue";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}
}


@media (max-width: 360px) {
.sobres h1 {
  font-family: "bebasnue";
  font-size: 3rem !important;
  color: white;
  padding-left: 17% !important;
}
.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 22% !important;
  top: 10.5rem !important;
}

#misionvision {
  background-image: url(../images/mision-visionres.png) !important;
  background-size: 100% 100%;
  min-height: 27rem !important;
}

.centrado4 {
  position: absolute;
  top: 54% !important;
  left: 32% !important;
  width: 58% !important;
  color: white;
  font-family: "myriad";
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}


}


/*
@media (max-width: 375px) {

  .centrado4 {
    position: absolute;
    top: 55% !important;
    left: 25% !important;
    width: 45% !important;
    color: white;
    font-family: "myriad";
    font-size: 0.7rem !important;
    transform: translate(-50%, -50%);
  }

  .centrado3 {
    position: absolute;
    top: 53% !important;
    left: 25% !important;
    width: 46% !important;
    color: white;
    font-family: "myriad";
    font-size: 0.65rem !important;
    transform: translate(-50%, -50%);
}

.title__section3 {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 25% !important;
  top: 13rem !important;
}


#contas {
  background-image: url(../images/footerpharmares.png) !important;
  background-size: 100% 100%;
  min-height: 6rem !important;
}

.title__section5 {
  left: 16% !important;
  top: 0.5rem !important;
}

.title__section6 {
  left: 16% !important;
  top: 0.7rem !important;
}

.title__section7 {
  left: 16% !important;
  top: 0.9rem !important;
}

}*/
/*# sourceMappingURL=tech.css.map */