%d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%d-flex-col {
  @extend %d-flex;
  flex-direction: column;
}

@font-face {
  font-family: "bahn";
  src: url('../fonts/BAHNSCHRIFT\ 1.TTF') format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url('../fonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "mont-medium";
  src: url('../fonts/Montserrat-Medium.otf') format("opentype");
}

@font-face {
  font-family: "mont-reg";
  src: url('../fonts/Montserrat-Regular.otf') format("opentype");
}

@font-face {
  font-family: "mont-semibold";
  src: url('../fonts/Montserrat-SemiBold.otf') format("opentype");
}

@font-face {
  font-family: "segoe";
  src: url('../fonts/segoe-ui-light-2.ttf') format("truetype");
}

$typ-bahn : "bahn";
$typ-mont-bold : "mont-bold";
$typ-mont-medium: "mont-medium";
$typ-mont-reg: "mont-reg";
$typ-mont-semibold: "mont-semibold";
$typ-segoe: "segoe";


$color-gris-claro: #f2f2f2;
$color-rojo: #fb1112;
$color-azul: #00006a;
$color-gris-oscuro: #444444;


.header {
  /* padding: 1rem 1rem; */
  width: 100%;
  z-index: 9;
  background-color: $color-gris-claro;
}

.boton-shadow {
  box-shadow: 0 4px 9px rgba(0,0,0,.4); /*Sombra leve*/
  border-radius: 2px;
  transform: rotateZ(360deg);
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}
.boton-shadow:hover, .boton-shadow:active{
  box-shadow: 0 9px 10px rgba(0,0,0,.4);
}

.hidden {
  display: none;
}

.cabecera {
  @extend %d-flex;
  margin-bottom: 2rem;
  width: 100%;
  background-color: $color-gris-claro;
  padding: 2rem 0;
  .logo {
    width: 10%;

    img {
      width: 100%;
    }
  }

  .cont1 {
    @extend %d-flex-col;
    align-items: flex-start;
    margin-left: 2rem;
    width: 60%;
    .cuenta{
      background-color: $color-rojo;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      margin-left: 2rem;
      img{
        height: 2rem;
        max-width: none;
      }
    }
    .social{
      padding: 0.5rem 0.5rem;
      border-radius: 5px;
      img{
        height: 3rem;
        max-width: none;
      }
    }
    .buscar {
      margin-top: 2rem;
      @extend %d-flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .label{
        background-color: $color-rojo;
        height: 3rem;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        @extend %d-flex-col;
        padding: 0 1rem;
        text-transform: uppercase;
        color: white;
        font-family: $typ-mont-semibold;
      }
      form{
        margin-bottom: 0;
        width: 60%;
      }
      input {
        width: 100%;
        height: 3rem;
        text-transform: uppercase;
        background-color: white;
      }

      .imagen {
        height: 3rem;
        @extend %d-flex-col;
        border-radius: 25px;
        background-color: $color-rojo;
        padding: 0 1rem;
        margin-left: -1.5rem;
        img {
          height: 60%;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

.contenido {
  width: 100%;
  @extend %d-flex-col;

  #inicio {
    img {
      width: 100%;
    }
  }

  #promocion {
    @extend %d-flex;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    .boton-shadow{
      background-color: $color-rojo;
      border-radius: 20px;
      color: white;
      text-decoration: none;
    }
    .boton-shadow:hover{
      background-color: black;
    }
    .cont1 {
      @extend %d-flex-col;
      width: 50%;
      background-image: url('../images/más novedoso2.png');
      background-size: cover;
      background-position: top right;
      height: 32rem;
      margin: 1rem;
      padding-top: 10rem;
      position: relative;
      .novedoso, .logo{
        position: absolute;
        width: 30%;
        top: 2rem;
      }
      .novedoso{
        left: 2rem;
      }
      .logo{
        right: 2rem;
      }
      .bx-wrapper{
        background-color: transparent !important;
      }
      .bx-wrapper .bx-viewport{
        background-color: transparent !important;
        
      }
      .psfw-main-product-wrapper.psfw-grid-template-9 .psfw-content-inner-wrap, .psfw-main-product-wrapper.psfw-car-template-3 .psfw-content-inner-wrap, .psfw-main-product-wrapper.psfw-frame-template-2 .psfw-content-inner-wrap{
        background: transparent;
        background-color: transparent;
        color: white;
      }
      .psfw-title{
        text-transform: uppercase;
        font-family: $typ-mont-bold;
      }
      .psfw-content{
        font-size: 0.7rem;
        font-family:$typ-mont-reg;
      }
      .boton-shadow{
        font-family: $typ-mont-reg;
        font-size: 1rem;
      }
    }

    .cont2 {
      @extend %d-flex-col;
      width: 40%;
      background-image: url('../images/como comprar-min.png');
      background-size: cover;
      background-position: bottom right;
      height: 32rem;
      margin: 1rem;
      position: relative;
      .boton-shadow{
        font-family: $typ-mont-semibold;
        font-size: 1.2rem;
        position: absolute;
        bottom: 35%;
        right: 15%;
      }
    }
  }
}

.menu_principal {
  @extend %d-flex;
  margin-top: 1rem;
  #navbarNav {
    @extend %d-flex;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    li {
      text-decoration: none;
      list-style: none;
      padding: 0rem 1rem;
      text-transform: uppercase;

      a {
        color: black;
        font-family: $typ-mont-bold;
        border-bottom: 3px solid $color-gris-claro;
      }
    }

    li:hover {
      a {
        border-bottom: 3px solid $color-gris-oscuro;
        font-weight: bolder;
      }
    }
  }
}

#masthead {
  /* background-color: white; */
}

.page-template-template-homepage {
  #page {
    .storefront-breadcrumb {
      display: none !important;
    }

    .menu_principal {
      margin-bottom: 0;
    }

    main {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      #post-5 {
        display: none;
      }
    }
  }

  #content .col-full {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 1rem;
    text-align: left;
    min-width: 100%;
    line-height: 100%;
    padding-left: 2rem;
  }

  #promocion {
    img {
      width: 100%;
    }
  }

  #destacados,
  #promociones,
  #nuevo {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title{
      position: relative;
      display: flex;
      justify-content: flex-start;
      h4{
        background-color: $color-rojo;
        width: 15rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.3rem;
        border-radius: 20px;
        padding: 0.3rem 0;
        line-height: 100%;
        font-family: $typ-mont-semibold;
        z-index: 11;
        height: 3rem;
        display:flex;
        align-items: center;
        justify-content: center;
      }
      hr{
        position: absolute;
        width: 30rem;
        border: 2px solid $color-rojo;
        left: 4rem;
        top: 0.4rem;
      }
    }

    .psfw-inner-wrap {
      position: relative;
    }

    .psfw-inner-wrap:hover {
      .psfw-details-wrap {
        display: flex;
      }
    }

    .psfw-details-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      bottom: 5%;
      left: 5%;
      display: none;
      background-color: rgba(0, 0, 0, 0.562);
      padding: 2rem;
      color: white;

      .psfw-price {
        margin-bottom: 0.5rem;
      }
    }
  }

  #info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-gris-claro;
    margin-top: 2rem;
    padding: 1rem 0;
    position: relative;
    hr{
      position: absolute;
      bottom: 1rem;
      left: 3rem;
      border: 2px solid $color-rojo;
      z-index: 99;
      width: 25rem;
    }
    .elemento{
      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2%;
      img{
        height: 5rem;
        width: auto;
      }
      h4{
        text-align: center;
        margin-top: 1rem;
        font-family: $typ-mont-bold;
        font-size: 1rem;
      }
      p{
        text-align: center;
        margin-top: 1rem;
        font-family: $typ-mont-reg;
        font-size: 0.8rem;
      }
    }
  }
  #suscribete{
    background-image: url('../images/suscribete-min.png');
    background-size: cover;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titulo{
      min-width: auto;
      color: $color-azul;
      font-family: "mont-bold";
      font-size: 3rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    }
    p{
      color: white;
      font-family:$typ-mont-medium;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.ver_todo {
  width: auto;
  background-color: $color-rojo;
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  text-decoration: none;
}

.ver_todo:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

#contacto {
  width: 100%;
  background-color: white;
  font-family: "mont-reg";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;  
    font-family: $typ-bahn;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    img{
      position: absolute;
      right: 4rem;
      top: -2rem;
      width: 5rem;
    }
  }
  .contacto-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p{
      width: 40%;
      margin: 0 5%;
    }
    .elemento{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5%;
      img{
        width: 3rem;
        margin-right: 1rem;
      }
    }
  }
  
}


.main-navigation ul li a:hover,
.main-navigation ul li:hover>a,
.site-title a:hover,
a.cart-contents:hover,
.site-header-cart .widget_shopping_cart a:hover,
.site-header-cart:hover>li>a,
.site-header ul.menu li.current-menu-item>a,
.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
  font-weight: bold;
}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
  /* color:white; */
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
  padding: 0.5rem;
}

.site-header[role="banner"] {
  /* padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 2.5rem !important; */
  padding: 0rem;
}

.custom-logo {
  /* display: none !important; */
  margin: 1rem;
}

.storefront-primary-navigation {
  display: none;
}

.main-navigation ul.menu,
.main-navigation ul.nav-menu {
  /* display: flex; */
  /* flex-direction: row; */
}

.site-header[role="banner"]>.col-full {
  display: none !important;

}

.woocommerce-active .site-header .main-navigation {
  width: 100%;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: black;
}

footer .col-full {
  max-width: inherit;
  padding: 0rem;
  width: 100%;
  margin: 0rem;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
}

body {
  /* font-family: Arial; */
  font-family: "mont-reg";
}

/* para el header */
.site-search {
  margin: 1rem;
  min-width: 11rem;
}

.site-header-cart {
  min-width: 11rem;
}

.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
  height: 6rem;
  width: auto;
  margin-right: 2rem;
}

#site-navigation {
  margin-top: -4rem;
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
  text-transform: uppercase;
  padding-top: 2rem;
  font-family: "mont-reg";
  font-weight: bolder;
}

.main-navigation ul.menu>li>a:hover,
.main-navigation ul.nav-menu>li>a:hover,
.main-navigation ul.menu>li>a:active,
.main-navigation ul.nav-menu>li>a:active {
  background-color: $color-gris-oscuro;
  color: white;
}

.storefront-primary-navigation .ayuda {
  background-color: $color-gris-oscuro;
  height: 5rem;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 2rem;
}

.storefront-primary-navigation .site-header-cart {
  display: none;
}

.storefront-primary-navigation .site-search {
  background-color: $color-gris-oscuro;
  margin: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.storefront-primary-navigation .site-search form {
  margin-bottom: 0rem !important;
}

/* menu responsive */
.storefront-hamburger-menu-active .main-navigation .handheld-navigation,
.storefront-hamburger-menu-active .main-navigation div.menu {
  overflow-y: hidden;
}

#masthead {
  display: none;
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.e-center {
  margin-left: auto;
  margin-right: auto;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-start {
  justify-content: flex-start;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.storefront-product-section {
  display: none;
}

footer {
  font-family: "mont-reg";
}

@media (max-width: 1135px) {
  .contenido #promocion {
    width: 100%;

    .cont1 {
      // height: 22rem;
      width: 90%;
    }

    .cont2 {
      display: none;
    }
  }

}

@media (max-width: 999px) {
  .page-template-template-homepage {
    #productos {
      .tab-content {
        height: 25rem;
      }
    }

    #info {
      .card-columns {
        .card {
          min-height: 40rem;

          .card-body {
            h2 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  #contacto .lista {
    flex-direction: column;

    .elemento {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 5rem;
  }

  #site-navigation {
    margin-top: 0;
  }

  .page-template-template-homepage {
    #productos {
      .nav-tabs li a {
        font-size: 1.5rem;
      }
    }
    #info{
      flex-direction: column;
      align-items: center;
      .elemento{
        width: 90%;
        font-size: 0.8rem;
      }
    }
  }

  .storefront-primary-navigation .site-search,
  .storefront-primary-navigation .ayuda {
    display: none;
  }
  #contacto {
    font-size: 0.8rem;
    .contacto-info{
      .elemento{
        img{
          width: 2rem;
        }
      }
    }
    .titulo img{
      width: 4rem;
      right: 1rem;
    }
    .titulo h2{
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 650px) {
  .page-template-template-homepage {
    #productos {
      .tab-content {
        height: 25rem;
      }
    }

    #info {
      .card-columns {
        column-count: 1;

        .card {
          min-height: 1rem;

          .card-body {
            h2 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .contenido #promocion {
    flex-direction: column;

    .cont1 {
      width: 90%;
    }

    .cont2 {
      flex-direction: row;
      width: calc(100% - 2rem);

      .img1,
      .img2 {
        width: 50%;
        margin: 0.5rem;
      }
    }
  }

  .cabecera .cont1 .buscar  {
    .label, form, .imagen{
      display: none;
    }
  }
}

@media (max-width: 480px) {

  .site-header .custom-logo-link img,
  .site-header .site-logo-anchor img,
  .site-header .site-logo-link img {
    margin-right: 1rem;
  }

  .storefront-primary-navigation .col-full {
    justify-content: inherit !important;
  }

  .page-template-template-homepage {
    #productos {
      .nav-tabs li a {
        font-size: 1rem;
        min-height: 3rem;
      }
    }
  }
  .cabecera{
    padding: 1rem 0;
  }

  .cabecera .logo {
    width: 20%;
  }


  .contenido {
    #promocion {
      margin-top: 1rem;
      .cont1 {
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;;
      }
    }
  }
  .page-template-template-homepage #suscribete{
    padding: 1rem;
    height: 15rem;
    .titulo{
      font-size: 1.5rem;
    }
    p{
      font-size: 0.8rem;
    }
  } 

  .page-template-template-homepage .title {
    font-size: 1.7rem;
  }
  #contacto{
    
    .contacto-info{
      p{
        display: none;
      }
    }
  }
}